.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    text-align: center;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    
    width: 50%;
    margin: 40px 40px;
    padding: 50px;
  }
  
  #registration-container{
    margin-top: 10%;
    margin-left: 25%;
  }

  #registration-container .header h1 {
    font-size: 1.5rem;
  }

  #registration-container .header form {
    margin-bottom: 1rem;
  }

  .card{
    text-align: center;
  }

  
footer{
  bottom: 0px;
  width: 97%;
  position: absolute;
}
  
  